---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<html lang="">
    <Header />
    <body>
        <section class="download-content">
            <div class="container">
                <h1 class="download-title">Download and install</h1>
                <p class="download-subtitle">Download and install Calyxium quickly with the steps described here.</a></p>
                <p class="download-subtitle">See the <a class="download-link" href="/release"> release history </a>for more information about Calyxium releases.</p>
            </div>
        </section>
    </body>
    <style>
        .download-link {
            color: #1abc9c
        }

        .container {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        body {
            scroll-behavior: smooth;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
            color: #cccccc;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .download-content .container {
            color: #ccccccccc;
            flex-direction: column;
            align-items: flex-start;
        }

        .downloads-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; /* Center the cards */
            padding: 20px;
            gap: 20px; /* Add gap between cards */
        }

        .download-card {
            color: #cccccc;
            background-color: #2c2c2c;
            border-radius: 8px;
            padding: 20px;
            margin: 10px;
            width: 300px; /* Set a consistent width */
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s;
        }

        .download-title {
            font-size: 2.5em;
            margin-bottom: 10px;
            color: #cccccc;
        }

        .download-card:hover {
            transform: scale(1.05);
        }

        .download-card h3 {
            margin-top: 0;
            font-size: 18px;
            color: #cccccc;
        }

        .download-card p {
            font-size: 14px;
            color: #cccccc;
            margin: 10px 0;
        }

        .download-card a {
            display: block;
            color: #1abc9c;
            text-decoration: none;
            font-weight: bold;
            margin-top: 10px;
        }

        .download-card a:hover {
            text-decoration: underline;
        }  
    </style>
    <Footer />
</html>
