---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<Header />
<body>
    <section class="tos-content">
        <div class="container">
            <h1 class="tos-title">Terms of Service</h1>
            <p class="tos-subtitle">The Calyxium website (the "Website") is hosted by Calyxium. By using and/or visiting the Website, you consent to be bound by Calyxium's general <a class="link-color" href="/TermsOfService">Terms of Service</a> and our <a class="link-color" href="/privacy">Privacy Policy</a>.</p>
        </div>
    </section>
</body>
<style>
        .link-color {
            color: #1abc9c;
        }

        .container {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        body {
            scroll-behavior: smooth;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
            color: #ffffff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .tos-content .container {
            flex-direction: column;
            align-items: flex-start;
        }

        .tos-title {
            font-size: 2.5em;
            margin-bottom: 10px;
            color: #cccccc;
        }
        
        .tos-subtitle {
            font-size: 1.2em;
            color: #ccc;
        }
</style>
<Footer />